$("div#comments").append(`<p><%= escape_javascript(@comment.content) %><%= escape_javascript(link_to 'delete!!!!!',destoy_comment_path(@comment.id),method: :delete,remote: true, class: 'delete_comment')%></p><hr />`);


// escape_javascript의 축약: j
